@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto;    
}
.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100%;
} 
[class *="__container"]{
    max-width: 600px;
    margin: 0 auto;
}
.header {
    font-size: 40px;
    text-align: center;
    background-color: gray;
    color: beige;
    padding: 30px;
}
.transform {
}
.transform__section-item {
    position: relative;
    min-height: 800px;
}
.transform__translate {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.5);
}
.change__translate {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s;     
}
.change__translate:hover {
    transform: translate(50px, 50px);    
}
.transform__scale {
    position: absolute;     
    top: 0px;
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: brown;
}
.change__scale {
    width: 100%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.5); 
    transition: all 1s ease 0s; 
}
.change__scale:hover {
    transform: scale(1.5, 1.25);
}
.transform__rotate {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(165, 42, 42, 0.5);
    top: 0px;
    left:400px;
}
.change__rotate {
    width: 100%;
    height: 100%;     
    background-color: brown;
    transition: all 1s ease 0s; 
}
.change__rotate:hover {
    transform:rotate(-45deg)
}
.transform__skew {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 0px;
    background-color: rgba(165, 42, 42, 0.5);    
}
.change__skew {
    width: 100%;
    height: 100%;  
    background-color: brown;
    transition: all 1s ease 0s 
}
.change__skew:hover {
    transform: skew(45deg, 0deg);
}
.transform__matrix {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 200px;
    background-color: rgba(165, 42, 42, 0.5);
}
.change__matrix {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s 
}
.change__matrix:hover {
    transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
}
.transform__multi {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 400px;
    background-color: rgba(165, 42, 42, 0.5);
}
.change__multi {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s
}
.change__multi:hover {
    transform: translate(30px, 30px) rotate(45deg) scale(0.5)
}
.transform__origin {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    left: 0px;
    background-color: rgba(165, 42, 42, 0.5);
}
.change__origin {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s
}
.change__origin:hover {
    transform-origin:left;
    transform: rotate(45deg);
}
.transform__perspective {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    left: 200px;
    background-color: rgba(165, 42, 42, 0.5);
    perspective-origin: center;
    perspective: 200px;
}
.change__perspective {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s
}
.change__perspective:hover {
    transform: rotateX(-180deg);
}
.transform__translate3d {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    left: 400px;
    background-color: rgba(165, 42, 42, 0.5);
    perspective: 400px;
}
.change__translate3d {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s
}
.change__translate3d:hover {
    transform: translate3d(30px, 15px, 45px);
}
.transform__scale3d {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 0px;
    background-color: brown;
    perspective: 400px;
}
.change__scale3d {
    width: 100%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.5);
    transition: all 1s ease 0s
}
.change__scale3d:hover {
    transform: scale3d(1.5, 1.5, 1.5);
}
.transform__rotate3d {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 200px;    
    background-color: rgba(165, 42, 42, 0.5);
    perspective: 400px;
}
.change__rotate3d {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s
}
.change__rotate3d:hover {
    transform: rotate3d(1, 1, 1, 45deg);
}
.transform__multi3d {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 400px;    
    background-color: rgba(165, 42, 42, 0.5);
    perspective: 400px;
}
.change__multi3d {
    width: 100%;
    height: 100%;
    background-color: brown;
    transition: all 1s ease 0s
}
.change__multi3d:hover {
    transform: translate3d(30px, 30px, 45px) rotate3d(1,1,1,45deg);
}
.transform__style {
    position: absolute;
    top: 600px;
    left: 0px;    
    background-color: rgba(233, 192, 192, 0.5);
    width: 100px;
    height: 100px;
    perspective:400px;
    transform-style: preserve-3d;    
}
.change__style{
    width: 100px;
    height: 100px;
    background-color: brown; 
    transition: all 1s ease 0s;
    transform: rotateX(0deg);    
}
.change__style:hover {
    transform: rotateX(50deg);
}
.transform__flip{
    position: absolute;
    top: 600px;
    left: 200px;   
}
.change__body {
    position: relative;
    width: 100px;
    height: 100px;
    transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}   
.change__front,
.change__back {
    position: absolute;
    width: 100%;
    height: 100%;
}
.change__front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: brown;
    backface-visibility: hidden;
}
.change__back{
    transform: rotateY(-180deg);
    background-color: rgba(165, 42, 42, 0.5);
}
.transform__flip:hover .change__body {
    transform: rotateY(-180deg);
}
.transform__matrix3d {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 600px;
    left: 400px;    
    background-color: rgba(165, 42, 42, 0.5);
    perspective:400px;
    transform-style: preserve-3d;
}
.change__matrix3d {
    width: 100%;
    height: 100%;
    background-color: brown; 
    transition: all 1s ease 0s;
}
.change__matrix3d:hover {
    transform: matrix3d(
        0.288, 0.883, 0.956, 0,
        -0.883, 0.469, 0, 0,
        -0.956, 0, -1.169, 0,
        0, 0, -200, 1
        )
}
.car {
    padding-top: 100px;
    padding-bottom: 100px;
}
.car__body {
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: 0;
    left: 150px;
}
.car__wheels {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}
.car__wheel-1 {
    width: 40px;
    height: 40px;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    left: 0;
    outline: 5px dashed #000;
    z-index: 1;
}
.car__wheel-2 {
    width: 40px;
    height: 40px;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    left: 160px;
    outline: 5px dashed #000;
    z-index: 1;
    
}
.car__body::before {
    content:"";
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    position: absolute;
    top: 60px;
    left: -40px;
    border-radius: 25px 0 0 5px;
}
.car__body::after{
    content: "";
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    position: absolute;
    top: 60px;
    left: 200px;
    border-radius: 0 25px 5px 0;
}
.car__windows::after {
    content: "";
    width: 70px;
    height: 40px;
    background-color: white;
    position: absolute;
    border-radius: 5px 25px 5px 5px;
    top: 10px;
    left: 110px;
}
.car__windows::before {
    content: "";
    width: 70px;
    height: 40px;
    background-color: white;
    position: absolute;
    border-radius: 25px 5px 5px 5px;
    top: 10px;
    left: 20px;
}
.footer {
    font-size: 40px;
    text-align: center;
    background-color: gray;
    color: beige;
    padding: 30px;
}
